* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #222;
}

header {
    background: white;
    padding: 18px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

header h2 {
    color: #2563eb;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #444;
}

nav a:hover {
    color: #2563eb;
}

main {
    width: 86%;
    max-width: 1200px;
    margin: 35px auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.heading h1 {
    margin-bottom: 5px;
}

.heading p,
.box p {
    color: #777;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin-bottom: 25px;
}

.card,
.box {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 22px;
}

.card h3 {
    color: #666;
    font-size: 15px;
}

.card h2 {
    margin: 12px 0 5px;
}

.card p {
    color: green;
}

.box {
    margin-bottom: 25px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.chart-btn,
#refresh {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.chart-btn.active,
#refresh {
    background: #2563eb;
    color: white;
}

.chart {
    height: 280px;
    display: flex;
    align-items: end;
    justify-content: space-around;
    border-bottom: 2px solid #aaa;
    padding: 20px;
}

.bar {
    width: 35px;
    background: #2563eb;
    border-radius: 5px 5px 0 0;
}

.progress {
    margin-top: 22px;
}

.progress span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.progress > div {
    height: 12px;
    background: #e5e7eb;
    border-radius: 10px;
}

.progress i {
    display: block;
    height: 100%;
    background: #2563eb;
    border-radius: 10px;
}

.activity {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.activity span {
    margin-left: 10px;
}

.activity small {
    float: right;
    color: #888;
}

footer {
    text-align: center;
    background: white;
    padding: 20px;
    color: #777;
}


/* Responsive */

@media (max-width: 800px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .heading,
    .section-title,
    header {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    nav {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {

    .cards {
        grid-template-columns: 1fr;
    }

    main {
        width: 92%;
    }

    .chart {
        padding: 10px;
    }

    .bar {
        width: 22px;
    }
}